nav{
    display: flex;
    width: 100%;
    background-color: whitesmoke;
    margin: 0;
    font-size: 1.1rem;
}

#logo{
    width: 2%;
    margin-left: 18%;
    height: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

#ul-wrapper{
    width: 60%;
    display: flex;
}

#ul-wrapper > li {
    list-style: none;
    width: 10%;
    text-align: center;
}
.arrowDown{
    width: 12%;
}